<button type="button" class="btn btn-primary" id="report" onclick="report()">report</button>

<button type="button" class="btn btn-primary" id="upload" onclick="upload()">upload</button>

<button type="button" class="btn btn-primary" id="delete" onclick="remove()">delete</button>
