<br>

<div class="container" id="figures" hidden/>
    <div class="row align-items-center">
        <div class="col">
            <h2>Date Report</h2>
            <span>file: <span id="fileName"></span></span>
            <div id="date_report" style="width:500px;height:500px;"></div>
        </div>

        <div class="col">
            <h2>Agv Report</h2>
            <span>file: <span id="fileName"></span></span>
            <div id="agv_report" style="width:500px;height:500px;"></div>
        </div>

    </div>
</div>

<br>