<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Agv</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <script src="javascripts/echarts.min.js"></script>
</head>

<body>